/* *{
    color: blue;
}

div *{
    background-color: yellow;
} */

div {
    background-color: lightgrey;
    padding: 12px;
}
.p-text {
    color: blue;
    front-size: 20px;
}

#green{
    color: red;
}

p.h1{
    border: 20px ;
}

div>h2 {
color: green;
}


input[type="password"]{
    border: 2px solid red;

}

button:hover {
    background-color: yellow;
    colour:brown;
}

div:nth-child(even){
    color: red;
}

div::before{
    content:"👍"
}

div::after {
    content: "▶️"
}

div:nth-child(1)::after{
    content:"🥇"
}

div:nth-child(2)::after{
    content:"🥈"
}

div:nth-child(3)::after{
    content:"🥉"
}

